.bg-light {
  background-color: rgb(253, 253, 253) !important;
}

.scene {
  position: absolute;
  left: 0;
  overflow: hidden;
  right: 0;
  top: 0;
  height: 100%;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: 1248px;
}

.scene > div {
  position: absolute;
  border-radius: 50%;
}

.scene > .ground {
  top: 0;
  background-size: 100% !important;
  border-radius: 0;
  background: url(../img/back.png) no-repeat;
  z-index: -999;
  width: 97%;
  height: 105%;
  /* margin-top: -30%; */
  margin-left: auto;
  background-position: 50% 50%;
}

.scene > div.icon1 {
  width: 120px;
  left: 50%;
  margin-left: -46%;
  height: 120px;
  background-size: 100% !important;
  background: url(../img/icon/laptop.png) no-repeat center;
}

.scene div.icon2 {
  width: 70px;
  height: 70px;
  background-size: 100% !important;
  background: url(../img/icon/gamepad.png) no-repeat center;
  z-index: 100;
  left: 50%;
  margin-left: -30%;
  margin-top: 110px;
}

.scene div.icon3 {
  width: 100px;
  height: 100px;
  background-size: 100% !important;
  background: url(../img/icon/edit-tools.png) no-repeat center;
  z-index: 100;
  left: 50%;
  margin-left: 20%;
  margin-top: 40px;
}

.scene div.icon4 {
  width: 80px;
  height: 80px;
  background-size: 100% !important;
  background: url(../img/icon/browser.png) no-repeat center;
  z-index: 100;
  left: 50%;
  margin-left: 30.7%;
  margin-top: 0;
}

.scene div.icon5 {
  width: 90px;
  height: 90px;
  background-size: 100% !important;
  background: url(../img/icon/computer-1.png) no-repeat center;
  z-index: 100;
  left: 50%;
  margin-left: -22%;
  margin-top: -55px;
}

.scene div.icon6 {
  width: 90px;
  height: 90px;
  background-size: 100% !important;
  background: url(../img/icon/wrench.png) no-repeat center;
  z-index: 100;
  left: 50%;
  margin-left: 37%;
  margin-top: 139px;
}

.buildings {
  width: 1006px;
  height: 244px;
  left: 50%;
  z-index: 999;
  margin-left: -510px;
  background-size: 83% !important;
  background: url(../img/logo.png) no-repeat center;
  border-radius: 0 !important;
}

.parallax {
  transition: transform 0.1s;
}

.navbar {
  box-shadow: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.03);
}

.box-phone {
  background: #62a5ff;
  color: white;
  padding: 0px 17px;
  font-size: 36px;
  font-weight: 600;
  margin-top: -12px;
  border-radius: 0 0 10px 10px;
}

.nav-item {
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0px 10px;
}

.navbar-nav > li > a:after {
  position: absolute;
  content: '';
  height: 3px;
  width: 0;
  left: 50%;
  right: 0;
  bottom: 0px;
  background-color: transparent;
  color: #62a5ff;
  border-bottom: 3px solid #62a5ff;
  transition: all 0.1s ease-in-out;
  transform: translate(-50%, 0) translateZ(0);
  -webkit-transform: translate(-50%, 0) translateZ(0);
}

.navbar-nav > li:hover > a:after {
  width: 100%;
}
.navbar-nav > li.active > a:after {
  width: 100%;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.team-bg {
  background: url(../img/team.jpg);
  background-size: cover;
  min-height: 500px;
  background-position: center;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.384);
  padding: 14rem 0px 0px;
}
